TC_Fechas/TC_Fechas.xsd

<?xml version="1.0" encoding="utf-8"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema">
	<xsd:complexType name="TC_Fecha">
		<xsd:sequence>
			<xsd:element name="FechaInicio" type="xsd:date" />
			<xsd:element name="FechaFinal" minOccurs="0" type="xsd:date" />
			<xsd:element name="FechaCreación" minOccurs="0" type="xs:date" />
		</xsd:sequence>
	</xsd:complexType>
</xsd:schema>