Calificacion.xsd

<?xml version="1.0" encoding="utf-8"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema">
	<xsd:complexType name="Calificacion">
		<xsd:sequence>
			<xsd:element name="Valoracion" type="xsd:TC_ValorPrimario" />
			<xsd:element name="Dictamen" type="xsd:TC_Dictamen" />
			<xsd:element name="Trasferencia" type="xsd:TC_Trasferencia" />
			<xsd:element name="DocumentoExcencial" type="xsd:TS_DocumentoExcencial" />
		</xsd:sequence>
	</xsd:complexType>
</xsd:schema>