TC_Dictamen.xsd

<?xml version="1.0" encoding="utf-8"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema">
	<xsd:complexType name="TC_Dictamen">
		<xsd:sequence>
			<xsd:element name="TipoDictamen" type="xsd:TS_TipoDictamen" />
			<xsd:element name="AccionDictaminada" type="xsd:string" />
			<xsd:element name="PlazoDictaminado" type="xsd:string" />
		</xsd:sequence>
	</xsd:complexType>
</xsd:schema>