TC_DirectorioContacto.xsd

<?xml version="1.0" encoding="utf-8"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema">
	<xsd:complexType name="TC_DirectorioContacto">
		<xsd:sequence>
			<xsd:element name="CelularInteresado" type="xsd:string" />
			<xsd:element name="CorreoElectronico" type="xsd:string" />
		</xsd:sequence>
	</xsd:complexType>
</xsd:schema>