TC_Derechos_Acceso.xsd

<?xml version="1.0" encoding="utf-8"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema">
<xsd:complexType name="TC_Derechos_Acceso">
	<xsd:sequence>
		<xsd:element name="Tipo_Acceso" type="xsd:TS_TipoAcceso" />
		<xsd:element name="Codigo_Causa_Reutilizacion" type="xsd:TS_CodigoCausareutilizacion" />
		<xsd:element name="Causa_Legal_Normativa" type="String" /><!--consultar al Ingeniero es la 9.3 pag 32-33-->
		<xsd:element name="Condiciones_Reutilizacion" type="xsd:TS_CondicionesReutilizacionipoAcceso" />
	</xsd:sequence>
</xsd:complexType >
</xsd:schema>