TC_Interesado.xsd

<?xml version="1.0" encoding="utf-8"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema">
	<xsd:complexType name="TC_Interesado">
		<xsd:sequence>
          <xsd:element name="TipoInteresado" type="xsd:TS_Interesado" />
          <xsd:element name="NombreInteresado" type="xsd:string" />
          <xsd:element name="IdentificadorInteresado" type="xsd:string" />
		  <xsd:element name="UbicacionInteresado" type="xsd:TC_UbicacionInteresado" />
		  <xsd:element name="Contacto" type="xsd:TC_DirectorioContacto" />
		  <!-- 28.4 como se desglosa? Ing Cobos-->
        </xsd:sequence>
	</xsd:complexType>
</xsd:schema>

