TC_ValorPrimario.xsd

<?xml version="1.0" encoding="utf-8"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema">
	<xsd:complexType name="TC_ValorPrimario">
		<xsd:sequence>
			<xsd:element name="TipoValor" type="xsd:TS_TipoValor" />
			<xsd:element name="Plazo" type="xsd:string" />
		</xsd:sequence>
	</xsd:complexType>
</xsd:schema>
