TC_HistorialCambio/TC_HistorialCambio.xsd

<?xml version="1.0" encoding="utf-8"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema">
	<xsd:complexType name="TC_HistorialCambio">
		<xsd:sequence>
			<xsd:element name="NombredelElemento" type="xsd:string" />
			<xsd:element name="ValorAnterior" type="xsd:string" />
		</xsd:sequence>
	</xsd:complexType>
</xsd:schema>
