TC_UbicacionInteresado/TC_UbicacionInteresado.xsd

<?xml version="1.0" encoding="utf-8"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema">
	<xsd:complexType name="TC_UbicaciónInteresado">
		<xsd:sequence>
			<xsd:element name="PaisInteresado" type="xsd:TC_Pais" />
			<xsd:element name="DirecciónInteresado" type="xsd:string" />
		</xsd:sequence>
	</xsd:complexType>
</xsd:schema>
